#feet {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    
}

.footer {
    display: flex;
    justify-content: space-between;
    padding: 40px;
    background-color: #111;
    flex-wrap: wrap;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.footer.visible {
    opacity: 1;
    transform: translateY(0);
}

.footer-logo img {
    width: 143px;
    height: auto;
    transition: transform 0.3s ease-in-out;
}

.footer-logo img:hover {
    transform: scale(1.1);
}

#logo-text {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: #d32f35e8;
    margin: -9px;
    cursor: pointer;
}

.footer-columns {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.footer-column {
    opacity: 0;
    transform: translateX(50px);
    transition: opacity 0.8s ease-out 0.5s, transform 0.8s ease-out 0.5s;
}

.footer.visible .footer-column {
    opacity: 1;
    transform: translateX(0);
}

.footer-column h3 {
    color: #fff;
    margin-bottom: 10px;
}

.footer-column a {
    display: block;
    color: #ccc;
    text-decoration: none;
    margin-bottom: 8px;
    transition: color 0.3s ease-in-out;
}

.footer-column a:hover {
    color: #a8ff78;
}

.social-icons a {
    display: inline-block;
    margin-right: 15px;
    font-size: 24px;
    color: #ccc;
    transition: transform 0.3s ease-in-out, color 0.3s;
}

.social-icons a:hover {
    color: #a8ff78;
    transform: scale(1.2);
}

.footer-bottom {
    text-align: center;
    padding: 20px;
    background-color: #0a0a0a;
}